<!DOCTYPE html>


<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <title>Hola Gringo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />


</head>
<h1>HELLO HELLO HELLO</h1>

<body>
<p>Please select an option</p>
<ol>
    <li><a href="" th:href="">Client</a></li>
    <li><a href="" th:href="">Cinema</a></li>
    <li><a href="" th:href="">Subscribe to our Newsletter</a></li>
    <li><a href="" th:href="">See User Profile</a></li>
</ol>





</body>

</html>