<!DOCTYPE html>
<html   lang="fr"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
        layout:decorate="~{layouts/main}">

<head>
    <title>Show</title>
    <link rel ="stylesheet" type ="text/css" href ="/webjars/boostrap/4.1.3/css/boostrap.min.css"/>
</head>

<body>
<div class="container">
    <div layout:fragment="content">

        <h1 th:text="${title}">Liste des spectacles</h1>
        <table class ="table" >
            <thead class="thead-dark">
            <tr>
                <th scope="col">Spectacle</th>
                <th scope="col">Price</th>
                <th scope="col">Nombre reprentation</th>
            </tr>
            </thead>



        </table>
    </div>
</div>
</body>
</html>
